[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pandas = "*"
tabulate = "*"
requests = "*"
gunicorn = "*"
ftfy = "*"
nltk = "*"
nrclex = "*"
vadersentiment = "*"
plotly = "*"
calmap = "*"
matplotlib = "*"
mpld3 = "*"
pycountry = "*"
us = "*"
datetime = "*"
sklearn = "*"
cython = "*"
notebook = ">=5.3"
ipywidgets = ">=7.5"
nbformat = ">=4.2.0"
chart-studio = "*"
pycountry-convert = "*"
importlib-metadata = "1.7.0"
plotly-express = "*"
kaleido = "*"
psutil = "*"
gdal = {path = "C:/Users/dbanerji/Downloads/GDAL-3.2.1-cp37-cp37m-win_amd64.whl"}
wheel = "*"
shapely = "*"
pipwin = "*"

[requires]
python_version = "3.7"
