[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pandas = "*"
tabulate = "*"
requests = "*"
gunicorn = "*"
ftfy = "*"
nltk = "*"
nrclex = "*"
vadersentiment = "*"
plotly = "*"
calmap = "*"
matplotlib = "*"
mpld3 = "*"
regex = "*"
pycountry = "*"
us = "*"
datetime = "*"
seed = "*"
sklearn = "*"
cython = "*"

[requires]
python_version = "3.7"
