{% extends "parent.html" %}
{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12 jumbotron text-center">
        Index Page Starts Here
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12" id="article-headline-plot">
        </div>
    </div>

</div>

<script>
    const article_headline_data = {{ article_headline_data | safe }}
    const article_headline_layout = {{ article_headline_layout | safe }}
    Plotly.newPlot("article-headline-plot", article_headline_data, article_headline_layout)
</script>

{% endblock %}