{% extends "parent.html" %}
{% block content %}

<br>
<br>
<div class="container">
    
    <!-- introduction -->
    <div class="row">
        <div class="col-md-7" id="scroll-gif">
            <img class="img-fluid rounded float-left" src="../static/img/scroll.gif">
        </div>
        <div class="col-md-5 main-summary">
            <p>Proin aliquam orci et placerat sagittis. Fusce sed aliquet nibh. Suspendisse hendrerit, lectus id blandit congue, risus nisi elementum felis, dapibus ultricies est risus eu elit. Integer sit amet massa sit amet sapien iaculis porta. In tempus ipsum nec quam convallis, quis facilisis ipsum fermentum. In sit amet dui rhoncus, varius dui ac, lacinia orci. Etiam placerat sagittis nibh, a scelerisque tortor tincidunt ut. Pellentesque eu tortor velit. Vestibulum non diam varius, hendrerit diam sit amet, consequat nibh.</p>
        </div>
    </div>

    <!-- add contributers -->
    <br>
    <br>
    <div class="row">
        <div class="col-md-12 contributors">
            <h1>Contributors</h1>
            <p>Amy Banerji | Rachel Reynolds | David Vance | Alicia Pelkey</p>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-12 citations">
            <h2>Citations</h2>

            <ul>
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
            </ul>
        </div>
    </div>


    
    

</div>



{% endblock %}