{% extends "parent.html" %}
{% block content %}
<div class="container">
    <h2 class="interaction-header">Interact With the News!</h2>
    <div class="row">
        <div class="col-md-12 interaction-intro">
            <p>
              On this page, you can try your hand at creating a positive (or negative!) headline, and you can search for headlines whose sentiments interest you.
            </p>
            <br>
        </div>
        <div class="col-md-6 sentiment-samples">
          <img class="sample-images" src="../static/img/sample1.png">
        </div>
        <div class="col-md-6 sentiment-samples">
          <img class="sample-images" src="../static/img/sample2.png">
        </div>
        <div class="col-md-6 sentiment-samples">
          <img class="sample-images" src="../static/img/sample4.png">
        </div>
        <div class="col-md-6 sentiment-samples">
          <img class="sample-images" src="../static/img/sample5.png">
        </div>
        <div class="interaction-intro" class="col-md-12 interaction-intro" id="user-analysis-intro">
            <br>
              <h2>Sentiment Analyzer</h2>            
            <p>
              Your headline undergoes two types of analyses--first, a "VADER sentiment analysis" that constructs a score based on the positivity or negativity of each word in your headline, including "boosting" your score based on words like "very" or "really."  VADER also recognizes exclamation points and words in ALL CAPS, so try out your favorite Tweets to see how you can affect the sentiment score!  Additionally, the analyzer uses the NRCLex lexicon of emotional words to identify certain emotions associated with words in your headline.  Will the words you choose convey surprise? Joy? Fear? Antici...pation?  Check out the sample headlines above, and then try it out to see what you find!
            </p>
        </div>
    </div>

    <br/>

     <!-- News Analyzer -->
     <!-- <form action="/analyzer" method="POST" style="width: 500px; margin: auto"> -->
       <div class="row">
         <label for="user-text-input" class="text-muted">Sentiment Analyzer:</label>
       <div class="col-lg-4">
          <input             
              type="text"
              id="user-text-input"
              name="news_analyzer"
              maxLength="150"
              placeholder="Input your headline here to get a personalized sentiment analysis!"
            />
           <br/>
           <br/>
           <input type="submit" value="Analyze" id="text-submit-button" onclick="userAnalysis()"/>
         </div> 
       </div>
       
      
      <!-- User Analysis Output Display -->
      <div class="row" id="user-analysis-output">
        <div class="col-md-6" id="user-analysis-gauge"></div>
        <div class="col-md-6" id="user-analysis-emotions"></div>
      </div>
     <br/>

    <!-- News Search -->
    <!-- <form action="/analyzer" method="POST" style="width: 500px; margin: auto"> --> 
      <div class ="row">
        <div class="col-md-12 interaction-intro" id="article-search-intro">
          <p>
              <h2>Article Search</h2>
              <p>
              To search the 50,000+ headlines in our dataset, choose a search category such as "Person" or "Organization," and then enter your search term (simpler searches work best).  Your results will be up to 5 randomly sampled articles that match your search term.  Results display the article headline, the lead paragraph, and a sentiment analysis (the "Senti-Meter!") based on the headline's VADER sentiment score.
            </p>
        </div>
      </div>

     <br/>

       <div class="row">
         <label for="article-search-input" class="text-muted">Article Search:</label>
       <div class="col-lg-4">
       <div class="input-box">
                        <select name="keyword" id="keyword-type">
                                <option value="">Search Categories</option>
                                <option value="persons">Person</option>
                                <option value="glocations">Location</option>
                                <option value="subject">Subject</option>
                                <option value="organizations">Organization</option>
                                <option value="creative_works">Creative Works (movies, books)</option>
                        </select>
          <input             
              type="text"
              id="article-search-input"
              name="article-search"
              maxLength="150"
              placeholder="Input a simple search term to find articles and their sentiments!"
            />
           <br/>
           <br/>
           <input type="submit" value="Search" id="search-submit-button" onclick="articleSearch()"/>
         </div> 
      </div>
      <br/>
      <br/>
      <!-- Article Search Output Display -->
      <div class="row" id="article-search-output">
      <br/>
      <br/>
        <!--div class="col-md-6" id="user-analysis-gauge"></div>
        <div class="col-md-6" id="user-analysis-emotions"></div-->
      </div>
     <br/>
     <br/>
    
</div>

     

{% endblock %}