{% extends "parent.html" %}
{% block content %}
<div class="container">

     <!-- Begin Form -->
     <br/>
     <br/>

     <!-- News Analyzer -->
     <!-- <form action="/analyzer" method="POST" style="width: 500px; margin: auto"> -->
     
       <div class="row">
         <label for="user-text-input" class="text-muted">Sentiment Analyzer:</label>
       <div class="col-lg-4">
          <input             
              type="text"
              id="user-text-input"
              name="news_analyzer"
              maxLength="150"
              placeholder="Input your headline here to get a personalized sentiment analysis!"
            />
           <br/>
           <br/>
           <input type="submit" value="Analyze" id="text-submit-button" onclick="userAnalysis()"/>
         </div> 
       </div>
       
      
      <!-- User Analysis Output Display -->
      <div class="row" id="user-analysis-output">
        <div class="col-md-6" id="user-analysis-gauge"></div>
        <div class="col-md-6" id="user-analysis-emotions"></div>
      </div>
     <br/>
     <br/>
      <!-- News Search -->
      <!-- <form action="/analyzer" method="POST" style="width: 500px; margin: auto"> -->
      
       <div class="row">
         <label for="article-search-input" class="text-muted">Article Search:</label>
       <div class="col-lg-4">
       <div class="input-box">
                 <label for="keyword-type" class="text-muted">Select a Keyword Type:</label>
                        <select name="keyword" id="keyword-type" >
                                <option value="persons">Person</option>
                                <option value="glocations">Location</option>
                                <option value="subject">Subject</option>
                                <option value="organizations">Organization</option>
                                <option value="creative_works">Creative Works (movies, books)</option>
                        </select>
          <input             
              type="text"
              id="article-search-input"
              name="article-search"
              maxLength="150"
              placeholder="Input a simple search term to find articles and their sentiments!"
            />
           <br/>
           <br/>
           <input type="submit" value="Analyze" id="search-submit-button" onclick="articleSearch()"/>
         </div> 
      </div>
      <br/>
      <br/>
      <!-- Article Search Output Display -->
      <div class="row" id="article-search-output">
      <br/>
      <br/>
        <!--div class="col-md-6" id="user-analysis-gauge"></div>
        <div class="col-md-6" id="user-analysis-emotions"></div-->
      </div>
     <br/>
     <br/>
    
</div>

     

{% endblock %}