{% extends "parent.html" %}
{% block content %}

<br>

<div class="container" id="all-maps">
    
    <!-- weekday heatmap div -->
    <div class="row">   
        <div class="col-md-12 map-summary" id="heatmap-weekday-summary">
            <b>Weekday Title...</b>
            </br>
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </div>
    </div>
    <div class=row>
        <div class="col-md-6 maps" id="heatmap-us-weekday">
        </div>
        <div class="col-md-6 maps" id="heatmap-global-weekday">
        </div>
    </div>

    <br>

    <!-- seasonal heatmap div -->
    <div class="row">
        <div class="col-md-12 map-summary" id="heatmap-seasonal-summary">
            <b>Seasonal Title...</b>
            </br>
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </div>
    </div>
    <div class=row>
        <div class="col-md-6 maps" id="heatmap-us-seasonal">
        </div>
        <div class="col-md-6 maps" id="heatmap-global-seasonal">
        </div>
    </div>

    <br>

    <!-- monthly over 3 years heatmap div -->
    <div class="row">
        <div class="col-md-12 map-summary" id="heatmap-monthly-summary">
            <b>Monthly Title...</b>    
            </br>
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </div>
    </div>
    <div class=row>
        <div class="col-md-6 maps" id="heatmap-us-monthly">
        </div>
        <div class="col-md-6 maps" id="heatmap-global-monthly">
        </div>
    </div>

    <br>

    <!-- Heatmap div -->
    <div class="row">
        <div class="col-md-12 map-summary" id="lat-lon-heatmap-summary">
            <p>
                <b>Headlines Around the World</b>
                </br>
                The map below depicts geographic locations and sentiments of headlines each month from 2015-2017.  Play the animation to see how article sentiments changed around the world.  You can pause the animation at any time and hover your cursor over a point to see its location name, a representative headline from that location for the month, and that article's sentiment score.
            </p>
        </div>
        <div class="col-md-12 maps" id="lat-lon-heatmap">
        </div>

        </div>
    </div>

    <br>

</div>

<script>
    // lat-lon heatmap
    const lat_lon_heatmap_dict = {{ lat_lon_heatmap_dict | safe }}
    Plotly.newPlot("lat-lon-heatmap", lat_lon_heatmap_dict)

    
</script>

{% endblock %}
