{% extends "parent.html" %}
{% block content %}

<br>

<div class="container" id="all-maps">
    
    <!-- Heatmap div -->
    <div class="row">   
        <div class="col-md-12 map-summary" id="heatmap-global-year-summary">
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </div>
    </div>

    <br>

    <!-- Heatmap div -->
    <div class="row">
        <div class="col-md-12 map-summary" id="heatmap-global-week-summary">
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </div>
        <div class="col-md-12 maps" id="heatmap-global-week">
        </div>
    </div>

    <br>

    <!-- Heatmap div -->
    <div class="row">
        <div class="col-md-12 map-summary" id="heatmap-us-year-summary">
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </div>
    </div>

    <br>

    <!-- Heatmap div -->
    <div class="row">
        <div class="col-md-12 summary" id="heatmap-us-week-summary">
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        <div class="col-md-12 maps" id="heatmap-us-week">
        </div>
    </div>

    <br>

    <!-- Heatmap div -->
    <div class="row">
        <div class="col-md-12 map-summary" id="lat-lon-heatmap-summary">
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        <div class="col-md-12 maps" id="lat-lon-heatmap">
        </div>

        </div>
    </div>

    <br>

</div>

<script>
    // lat-lon heatmap
    const lat_lon_heatmap_dict = {{ lat_lon_heatmap_dict | safe }}
    Plotly.newPlot("lat-lon-heatmap", lat_lon_heatmap_dict)

    
</script>

{% endblock %}
