{% extends "parent.html" %}
{% block content %}

<br>

<div class="container" id="visualizations">
    
    <!-- Articles vs Headlines scatter plot -->
    <div class="row">
        <div class="col-md-9 plots" id="article-headline-plot">
        </div>
        <div class="col-md-3 summary" id="plot-summary">
            <p>
                <b>Do Positive Headlines Predict Positive Articles?</b>
                <br>
                Well, yes... but there are quite a few exceptions! Most articles tended to cluster in the upper right (positive headlines with positive articles) or in the lower left (negative headlines with negative articles) of this chart. Interact with this chart to see which kinds of news tend to follow this pattern most closely!
                <br>
                Double-click on an entry in the legend to isolate it on the chart, or single-click legend entries to add or remove them from the chart individually.
            </p>
        </div>
    </div>

    <br>

    <!-- boxplot -->
    <div class="row">
        <div class="col-md-3 summary" id="boxplot-summary">
            <p>
                <b>What Type of News is Most Positive?</b>
                <br>
                This plot depicts the range and descriptive statistics of each news type. Does the range of sentiment for some news surprise you?  Would you predict that Science or Politics news is more positive on average?  The answer might surprise you!
                <br>
                Hover over each box to learn the maxium, minimum, median, and quartile values for each news type's article sentiment scores.
            </p>
        </div>
        <div class="col-md-9 plots" id="boxplot">
        </div>
    </div>

    <br>

    <!-- calendar heatmap -->
    <div class="row">
        <div class="col-md-9 plots" id="calendar-heatmap">
        </div>
        <div class="col-md-3 summary" id="calendar-heatmap-summary">
        <p>
                <b>How Does News Sentiment Trend Over Time?</b>
                <br>
                Follow a news desk's average daily sentiment in this chart.  Hovering over a point shows the headlines of the three "most emotional" articles from that news desk on that day.
                <br>
                Click and drag over a section of the calendar to zoom in on specific time periods.  Double-click to reset the zoom level.
            </p>
        </div>
    </div>

    <br>

    <!-- linechart -->
    <div class="row">
        <div class="col-md-3 summary" id="linechart-summary">
            <p>
                <b>Digging Deeper on Trends Over Time</b>
                <br>
                This plot depicts in even greater detail the trends in headline sentiment over time for major news desks.
                <br>
                Click and drag to zoom to a time period of interest (for example, from January 1, 2016 to January 1, 2017 or from May 1, 2015 to June 1, 2015).  Do you notice any yearly, monthly, or weekly patterns?  Double-click to reset the zoom level.
            </p>
        </div>
        <div class="col-md-9 plots" id="linechart">
        </div>
    </div>

    <br>

    <!-- bigrams plot -->
    <div class="row">
        <div class="col-md-9 plots" id="bigrams-plot">
        </div>
        <div class="col-md-3 summary" id="bigrams-summary">
            <p>
                <b>Bigrams Header</b>
                <br>
                Text about the bigram plot.
                <br>
                Suggestion for how to interact with the plot.
            </p>
        </div>
    </div>

    <br>

    <!-- trigrams plot -->
    <div class="row">
        <div class="col-md-2 summary" id="trigrams-summary">
            <p>
                <b>Trigrams Header</b>
                <br>
                Text about the trigram plot.
                <br>
                Suggestion for how to interact with the plot.
            </p>
        </div>
        <div class="col-md-10 plots" id="trigrams-plot">
        </div>
    </div>

    <br>


</div>

<script>
    // Article headline dummy figure
    const article_headline_figure = {{ article_headline_figure | safe }}
    Plotly.newPlot("article-headline-plot", article_headline_figure)

    // boxplot
    const boxplot_data = {{ boxplot_data | safe }}
    const boxplot_layout = {{ boxplot_layout | safe }}
    Plotly.newPlot("boxplot", boxplot_data, boxplot_layout)

    // heatmap
    const calendar_heatmap_data = {{ calendar_heatmap_data | safe }}
    const calendar_heatmap_layout = {{ calendar_heatmap_layout | safe }}
    Plotly.newPlot("calendar-heatmap", calendar_heatmap_data, calendar_heatmap_layout)

    // linechart
    const linechart_figure = {{ linechart_figure | safe }}
    Plotly.newPlot("linechart", linechart_figure)

    // bigrams
    const bigram_json = {{ bigram_json | safe }}
    Plotly.newPlot("bigrams-plot", bigram_json)

    // trigrams
    const trigram_json = {{ trigram_json | safe }}
    Plotly.newPlot("trigrams-plot", trigram_json)

    
</script>

{% endblock %}